<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963514377525-mtuuhspmevbf21mi57gfhp2pripi2vao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963514377525-mtuuhspmevbf21mi57gfhp2pripi2vao</string>
	<key>API_KEY</key>
	<string>AIzaSyAidQ1a1Px_3wNHGUvXxK82KWcuV-xUxiU</string>
	<key>GCM_SENDER_ID</key>
	<string>963514377525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.martynov.flutter</string>
	<key>PROJECT_ID</key>
	<string>todoflutter-7b2ba</string>
	<key>STORAGE_BUCKET</key>
	<string>todoflutter-7b2ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963514377525:ios:671515510a770ad020587c</string>
</dict>
</plist>